* {
  margin: 0;
  padding: 0;
}
body {
  background-color: antiquewhite;
}
.header {
  flex-direction: column;
  align-items: center;
  display: flex;
}
.usr {
  gap: 12px;
  display: flex;
  background-color: orange;
  border-radius: 5px;
  width: 350px;
  margin-top: 50px;
  padding: 12px;
}

h3 {
  display: flex;
  align-items: center;
}
img {
  height: 50px;
  border-radius: 100%;
  border: 3px solid white;
  display: flex;
  align-items: center;
}
p {
  margin-top: 0px;
}

.detail {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
#users {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 800px;
  margin: auto;
}
